.App {
    text-align: center;
}

.App-logo {
    height: 8vmin;
    pointer-events: none;
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        /*animation: App-logo-spin infinite 20s linear;*/
    }
}

.App-header {
    background-color: rgb(0, 87, 165);
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-body {
    padding: 10px;
}
